<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
<div class="logo"><img src="images/logo-mercado-liebre.svg" alt=""></div>    
<h1>Lorem ipsum dolor sit amet consectetur</h1>
<br>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat provident reprehenderit consequatur minus ipsa officia atque tempora esse reiciendis nam neque quis mollitia, maxime amet odit quibusdam. Voluptates sint inventore recusandae unde laudantium rerum numquam magnam accusamus eaque ut minus, illum ex labore veniam cupiditate aliquam neque. Perspiciatis, cumque est.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat provident reprehenderit consequatur minus ipsa officia atque tempora esse reiciendis nam neque quis mollitia, maxime amet odit quibusdam. Voluptates sint inventore recusandae unde laudantium rerum numquam magnam accusamus eaque ut minus, illum ex labore veniam cupiditate aliquam neque. Perspiciatis, cumque est.</p>
<hr>
<h4>Lorem ipsum dolor</h4>
<img class="banner" src="images/banner_newsletter.png" alt="">
<h2>Lorem ipsum dolor sit amet.</h2>
<a href="/">Lorem ipsum dolor-></a>
<hr>
<h3>Lorem ipsum dolor</h3>
<h2>Lorem ipsum dolor sit amet consectetur.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eos commodi accusamus tempore porro cumque beatae qui eaque praesentium explicabo maiores ducimus, voluptates optio! Earum vero, at perspiciatis praesentium voluptatum soluta rerum, a dolorum quasi mollitia asperiores neque tenetur. Dolorum quo eligendi voluptas eius? Distinctio blanditiis aliquid corporis et!</p>
<hr>
<ul>
    <li><a href="">Instagram</a></li>
    <li><a href="">Facebook</a></li>
    <li><a href="">Twitter</a></li>
    <li><a href="">GitHub</a></li>
</ul>

<p class="firma">Saludos,</p>
<p class="firma">Uri y Herni</p>
<hr>
<footer>
<small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, aut error laborum vel nisi, ipsam ex sed impedit, cum sunt quis labore. Laboriosam ducimus maiores sit accusantium molestiae id tenetur facilis consequatur dolorum, alias, non culpa voluptates vel iure maxime, aliquid ea deleniti aliquam nihil vitae quisquam esse nulla. Hic quas minima non voluptatum adipisci quasi autem reprehenderit dolorem soluta repellat eveniet illo, blanditiis et fugiat nam modi neque. Possimus nobis similique sit hic quod beatae iure, eaque commodi assumenda consectetur nulla error rerum delectus sequi eum! Ratione, nisi nesciunt deserunt laborum delectus iure quia eaque, similique unde, qui dolores.</small>
</footer>
</body>
</html>